<!-- Right Sidebar -->
<div class="right-bar">
    <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
            <i class="dripicons-cross noti-icon mt-1"></i>
        </a>
        <h4 class="m-0" style="font-weight: 400;">Add team manager</h4>
    </div>
    <div class="slimscroll-menu rightbar-content">

        <!-- Filters box -->
   
    
<div class="container mt-2">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button onclick="myFunction()" class="btn btn-outline-secondary waves-effect waves-light radius" type="button"><i class="dripicons-toggles"></i></button>

      </div>
      <div class="input-group-prepend ml-2">
            <div class="input-group-text"><i class="fe-search noti-icon"></i></div>
        </div>
        <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
    </div>
</div>


<div class="container mt-2">
<div id="myDIV42" style="display: none;">
                                  
   <div class="btn-group mr-2 btn-block">
            <button type="button" class="btn btn-outline-secondary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Country <i class="mdi mdi-chevron-down"></i></button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Option</a>
                <a class="dropdown-item" href="#">Option</a>
                <a class="dropdown-item" href="#">Option</a>
            </div>
        </div>

        <div class="btn-group mr-2 btn-block">
            <button type="button" class="btn btn-outline-secondary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Roles <i class="mdi mdi-chevron-down"></i></button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Global admin</a>
                <a class="dropdown-item" href="#">Global financial controller</a>
                <a class="dropdown-item" href="#">Restricted admin</a>
                <a class="dropdown-item" href="#">Team financial controller</a>
                <a class="dropdown-item" href="#">Team manager</a>
            </div>
        </div>

         <div class="btn-group mr-2 btn-block">
            <button type="button" class="btn btn-outline-secondary btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Team <i class="mdi mdi-chevron-down"></i></button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
                <a class="dropdown-item" href="#">Team 1</a>
                <a class="dropdown-item" href="#">Team 2</a>
                <a class="dropdown-item" href="#">Team 3</a>
            </div>
        </div>

</div>
</div>

<div class="container">
   <div class="row mt-4">
        <div class="col-2">
            <a href="#">
                <img src="/template-assets/images/users/user-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm">
            </a>                                                            
        </div>
        <div class="col-4 mt-1">
            <p>Person Name</p>    
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light float-right">Add
            </button>
        </div>
    </div> 

    <hr>

    <div class="row mt-1">
        <div class="col-2">
            <a href="#">
                <img src="/template-assets/images/users/user-3.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm">
            </a>                                                            
        </div>
        <div class="col-4 mt-1">
            <p>Person Name</p>    
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light float-right">Add
            </button>
        </div>
    </div> 

    <hr>

    <div class="row mt-1">
        <div class="col-2">
            <a href="#">
                <img src="/template-assets/images/users/user-4.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm">
            </a>                                                            
        </div>
        <div class="col-4 mt-1">
            <p>Person Name</p>    
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary waves-effect waves-light float-right">Add
            </button>
        </div>
    </div> 


</div>

       

<!-- Timeline -->
       
        

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<script type="text/javascript">
    
    function myFunction() {
  var x = document.getElementById("myDIV42");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script>



