<footer class="bg-dark footer">
    <div class="container-fluid">
        <div class="row mb-5">
            
            
            

            <div class="col-lg-2">
                <div class="footer-list">
                    <p class="text-white mb-2 footer-list-title">Prototypes</p>
                    <ul class="list-unstyled">
                        <li>
                            <%= link_to  admin_path(page: :managecompany2) do %>
                                <i class="mdi mdi-chevron-right mr-2"></i>Homepage {admin}
                            <% end%>
                        </li>
                        

                        
                    </ul>
                </div>
            </div>
            
            
        </div>
        <!-- end row -->

        
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</footer>
